<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" id="container">
        <form [formGroup]="form">
          <div class="form-container sign-in-container">
            <form [formGroup]="form">
              <h1>Iniciar Sesión</h1>
              <div class="social-container">
                <button class="btn btn-primary" 
                        type="button" 
                        (click)="onClickLoginWithGoogle()"
                        style="margin-inline: 10px;">
                  Entra con Google
                </button>			
              </div>
              <span>o utiliza tu cuenta</span>
              <input type="email" 
                     placeholder="Correo" 
                     id="email" 
                     formControlName="email" />
              <input type="password" 
                     placeholder="Contraseña" 
                     id="password" 
                     formControlName="password" />
              <button type="button" 
                      (click)="onClickLogin()">
                Entrar
              </button>
            </form>
          </div>
          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-right">
                <h1>Hola amigo</h1>
                <p>Registrate aca</p>
                <button class="ghost" 
                        type="button" 
                        (click)="onClickRegister()">
                  Registrarse
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

</body>
</html>