<!-- contacto.component.html -->
<br>
<div class="contacto-container">
    
    <div class="contact-header">
      <h1>Contacto</h1>
      <p>Estamos aquí para ayudarte. Ponte en contacto con nosotros a través de los siguientes medios.</p>
    </div>
  
    <div class="contact-info">
      <div class="info-item">
        <h2>Dirección</h2>
        <p>Naciones Unidas, Quito, Ecuador</p>
      </div>
  
      <div class="info-item">
        <h2>Teléfono</h2>
        <p>(+593) 240-70000</p>
      </div>
  
      <div class="info-item">
        <h2>Email</h2>
        <p>info&#64;codemast.com.ec</p>
      </div>
    </div>
  
    <form class="contact-form">
      <h2>Envíanos un Mensaje</h2>
      <label for="name">Nombre:</label>
      <input id="name" type="text" placeholder="Tu nombre" required>
  
      <label for="email">Email:</label>
      <input id="email" type="email" placeholder="Tu email" required>
  
      <label for="message">Mensaje:</label>
      <textarea id="message" rows="6" placeholder="Tu mensaje" required></textarea>
  
      <button type="submit">Enviar</button>
    </form>
  </div>