<div class="container-fluid text-center">
  <h2 class="mb-4">Carrito de Compras</h2>
  <div *ngIf="producto.length > 0; else emptyCarrito">
    <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      <div class="card" *ngFor="let producto of producto"
            style="width: 18rem; margin: 0.5rem; cursor: pointer; display: flex; flex-direction: column; align-items: center;">
            <img [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre" 
              style="width: 100%; height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">Precio: ${{producto.precio}}</p>
                <p class="card-text">Descripción: {{producto.descripcion}}</p>
                <p class="card-text">Stock: {{producto.stock}}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <button class="btn btn-outline-info" (click)="decrementarCantidad(producto, cantidad)">-</button>
                  <span>{{cantidad}}</span>
                  <button class="btn btn-outline-info" (click)="incrementarCantidad(producto, cantidad)">+</button>
                </div>
              </div>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-4">
      <h3>Total: ${{calcularTotal()}}</h3>
      <button class="btn btn-primary" (click)="pagar()">Pagar</button>
      <button class="btn btn-danger me-2" (click)="vaciarCarrito()">Vaciar Carrito</button>
    </div>
  </div>
  <ng-template #emptyCarrito>
    <p class="text-center mt-4">Tu carrito está vacío.</p>
  </ng-template>
</div>